tests/XUnitTest.Nature/GMix/SingleRootTestCases.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SingleRootTestCases">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Add">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Description" type="xs:string" />
              <xs:element name="Script" type="xs:string" />
              <xs:element name="Projections">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Add">
                      <xs:complexType>
                        <xs:attribute name="TPX" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>