src/Nature/Constants.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Constants">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Add">
          <xs:complexType>
            <xs:attribute name="Code" type="xs:string" use="required" />
            <xs:attribute name="Value" type="xs:string" use="required" />
            <xs:attribute name="Units" type="xs:string" use="required" />
            <xs:attribute name="ClrType" type="xs:string" use="required" />
            <xs:attribute name="Quantity" type="xs:string" use="required" />
            <xs:attribute name="Description" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>