src/Nature/IdealGasState.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="DependencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Complex" />
      <xs:enumeration value="Temperature" />
      <xs:enumeration value="Composition" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType abstract="true" name="Item">
    <xs:attribute type="xs:string" name="Name" />
    <xs:attribute type="DependencyType" name="DependencyType"/>
  </xs:complexType>
  <xs:element name="IdealGasState">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Scalars">
          <xs:complexType>            
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Add">                
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="Item">                      
                    </xs:extension>
                  </xs:complexContent>                  
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Arrays">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Add">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="Item">
                      <xs:attribute name="Length" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:complexContent>                                    
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>